:root{
  --header-text-color: rgb(17, 34, 39);
  --top-background-color: white;
  --footer-background-color: #f4f4f4;

  /* DONT LOSE THESE: Darkmode: #121212*/
  /* Header: rgb(17, 34, 39) 
     footer: #f4f4f4
  */
}

body{
  margin: 0px;

  font-family: system-ui;

  background-color: var(--top-background-color);

  overflow-x: hidden;
}

header{
  display: grid;
  grid-template: 100% / 15vw 1vh 1fr 1vw;

  font-size: 3.5vw;
  font-weight: 900;

  height: fit-content;
  width: 100%;
  border-bottom: 1px solid black;

  color: var(--header-text-color);

  .logo-box{
    display: flex;
    justify-content: center;
    align-items: center;
  
    span{
      height: fit-content;
      width: fit-content;
    
      font-size: 1.5em;

      margin: .1em;
      padding: .5em;
      border: .33em solid var(--header-text-color);
      border-radius: .5em;
    
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .directory-buttons{
    grid-area: 1 / 3 / 1 / 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

main{
  .intro{
    box-sizing: border-box;
    display: grid;
    grid-template: 1fr 1fr 1fr/ 100%;

    height: 750px;
    width: 100%;
  }
}

.disc-pic{
  display: flex;
  justify-content: center;
  align-items: center;

  grid-area: 1 / 1 / 1 / 1;
  height: 100%;
  width: 100%;

  /* img{
    height: 325px;
    width: 325px;
    border: 5px solid var(--header-text-color);
    border-radius: 100%;
  } */
}

.intro-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}

.github{
  height: 32px;
  width: 32px;

  margin: 5px;
  border: 5px solid var(--header-text-color);
  border-radius: 10px;

  img{
    height: 100%;
    width: 100%;
  }
}

footer{
  display: grid;
  grid-template: 1fr 2fr / 100%;

  height: 80px;
  width: 100%;

  font-size: .95rem;
  font-weight: 900;

  color: var(--header-text-color);
  background-color: var(--footer-background-color);

  span{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.contact-me{
  font-weight: 900;

  border: .3em solid var(--header-text-color);
  border-radius: .5em; 

  height: fit-content; 
  width: fit-content; 

  color: inherit; /* has to be set explicitly for some reason... */
  background-color: var(--footer-background-color);
  text-decoration: none;
}




